{extend name="public/base" /}
{block name='seo'}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">

{/block}


{block name='content'}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">我的桌面</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <p class="f-20 text-success">欢迎使用博客管理系统
            <p>上次登录{:session('admin_info.login_ip')}  上次登录时间：{$Think.session.admin_info.login_time|date="Y-m-d H:i:s",###}
        </p>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th colspan="2" scope="col">服务器信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th width="30%">服务器计算机名</th>
                    <td><span id="lbServerName">{$Request.host}</span></td>
                </tr>
                <tr>
                    <td>服务器IP地址</td>
                    <td>{$Request.ip}</td>
                </tr>
                <tr>
                    <td>服务器域名</td>
                    <td>{$Request.domain}</td>
                </tr>
                <tr>
                    <td>服务器端口 </td>
                    <td>{$Request.port}</td>
                </tr>
                <tr>
                    <td>当前请求URL</td>
                    <!--传入参数true,显示包括域名的完整绝对URL请求地址-->
                    <!--PHP语句:<?php echo \think\Request::instance()->url(true); ?>-->
                    <td>{$Request.url.true}</td>
                </tr>
                <tr>
                    <td>当前PHP版本 </td>
                    <td>{$Think.const.PHP_VERSION}</td>
                </tr>
                <tr>
                    <td>服务器版本</td>
                    <td>{$Think.const.PHP_OS}</td>
                </tr>

                <tr>
                    <td>当前Session数量 </td>
                    <td>{:count($_SESSION)}</td>
                </tr>
                <tr>
                    <td>当前SessionID </td>
                    <td>{:session_id()}</td>
                </tr>

                </tbody>
            </table>
        </article>

    </div>
</section>
{/block}
