{extend name="public/base" /}
{block name="meta"}
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" type="text/css">
    <link href="__STATIC__/layui/css/layui.css" rel="stylesheet">
    <script src="__STATIC__/layui/layui.js"></script>
    {/block}
    {block name='seo'}
    <title>{$title|default='页面标题'}</title>
    <meta name="keywords" content="{$keywords|default='页面关键字'}">
    <meta name="description" content="{$desc|default='页面描述'}">

    {/block}

    {block name="header"}
    {/block}

    {block name="menu"}
    {/block}
    {block name="content"}
    <div class="container" >
        <form class="form-horizontal">
            <input type="hidden" value="{$_GET['id']}" name="id" id="name_id">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">角色名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  placeholder="角色名" id="name" value="{$role.name}" name="name">
                </div>
            </div>
            {foreach name="menu_list" item="ml"}
            {if condition="$ml['floor']==1"}<hr/>{/if}
            <input type="checkbox" value="{$ml.id}" name="right[]" class="menu_list" style="font-size: 10px;"  {if condition="$_GET['id']>0"}{if condition="in_array($ml.id,json_decode($role.right))"}checked{/if}{/if}>&nbsp;&nbsp;{$ml.name}
            {if condition="$ml['floor']==1"}<br/><br/>{/if}
            {if condition="$ml['floor']==2"}&nbsp;|&nbsp;{/if}
            {/foreach}
        </form>
        <br/>
        <button type="submit" class="btn btn-success" id="btn">保存</button>
    </div>
    {/block}


    {block name="script"}
    <script>

        $('#btn').click(function(){
            var name=$('#name').val();
            var right=$('.menu_list:checked');
            var id=$('#name_id').val();
            if(!name){
                layer.msg('角色名不能为空！',{icon:2});
                return false;}

            $.ajax({
                type:'post',
                url:"/admin/role/save_role",
                data:$('form').serialize(),
                dataType:"json",
                success:function(res){
                    if(res.status){
                        layer.msg(res.message,{icon:1},function(){
                            parent.window.location.reload();
                        })
                    }else {
                        layer.msg(res.message,{icon:2});
                    }
                }
            });
        })
    </script>
    {/block}