<!-- 注册Modal -->
<div class="modal fade " id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">注册用户</h4>
            </div>
            <div class="modal-body">
                <iframe src="http://www.weibott.com/start_register" frameborder="0" scrolling="no"  style="height: 400px;width: 800px;" ></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 登入Modal -->
<div class="modal fade " id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">用户登入</h4>
            </div>
            <div class="modal-body">
                <iframe src="http://www.weibott.com/start_login" frameborder="0" scrolling="no"  style="height: 285px;width: 550px;" ></iframe>
                <br/>
                <a style="cursor: pointer;float: right;" data-toggle="modal" data-target="#myModal" onclick="register()">无账号，马上注册>>></a>
                <br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="loginClose">关闭</button>
            </div>
        </div>
    </div>
</div>


<!-- 反馈Modal -->
<div class="modal fade " id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">用户反馈</h4>
            </div>
            <div class="modal-body">
                <iframe src="http://www.weibott.com/start_feedback" frameborder="0" scrolling="no"  style="height: 285px;width: 550px;" ></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
            </div>
        </div>
    </div>
</div>
