<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/header" /}
</head>
<body>
<form class="layui-form" action="" style="width: 550px;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="user_name"  id="user_name" autocomplete="off" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">email</label>
        <div class="layui-input-block">
            <input type="text" name="email"  id="email" autocomplete="off" placeholder="请输入注册时使用的邮箱" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" id="backPassword">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>


    $('#backPassword').click(function(){
        $user_name=$('#user_name').val();
        $email=$('#email').val();
        if(!$user_name){
            layer.msg('用户名不能为空！',{icon:2});
            return false;
        }
        if(!$email){
            layer.msg('email不能为空！',{icon:2});
            return false;
        }
        $.post('/home/mail/checkedBackPasswordData',$('form').serialize(),function(res){
            if(res.status==1){
                window.location.href="/home/mail/getCode?user_name="+res.user_name+"&email="+res.email;
            }else{
                layer.msg(res.message,{icon:2});
                return false;
            }
        })
    })
</script>
</body>
</html>