<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="public/header" /}
</head>
<body>
<form class="layui-form" action="" style="width: 550px;">
    <input type="hidden" value="{$_GET['user_name']}" name="user_name" id="user_name">
    <input type="hidden" value="{$_GET['email']}" name="email" id="email">
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="text" name="password"  id="password" autocomplete="off" placeholder="请输入密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="text" name="rePassword"  id="rePassword" autocomplete="off" placeholder="请再次输入密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" id="backPassword">确认</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    $('#backPassword').click(function(){
        $.post('/home/mail/checkedNewPassword',$('form').serialize(),function(res){
            if(res.status==1){
                layer.msg(res.message,{icon:1});
                parent.window.location.reload();
            }else{
                layer.msg(res.message,{icon:2});
                return  false;
            }
        })
    })
</script>
</body>
</html>