<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file='public/header' /}
    <link rel="stylesheet" href="__STATIC__/css/tourist.css" type="text/css">
    <style type="text/css">
        .qqFace{margin-top: 4px;background: #fff;padding: 2px;border: 1px #dfe6f6 solid;}
        .qqFace table td{padding: 0;}
        .qqFace table td img{cursor: pointer;border: 1px #fff solid}
        .qqFace table td img:hover{border: 1px #008800 solid;}
        .layui-upload-img{
            width: 90px;
            height: 60px;
            margin-top: 3px;
            margin-left: 15px;
        }
        .delete{
            margin-left: -21px;
            position: absolute;
            margin-top: 3px;
        }
    </style>
</head>
<body style="background-color: #00FFFF">
{include file="public/nav" /}
<div class="main" style="margin-top: -10px;">
    <div style="height: 405px;" id="topPicture">
        <div align="center">
            <img src="{$oneDetail.avatar_url}" style="width: 150px;height:100px;border-radius: 50%;margin-top: 10px;">
            <p style="margin-top: 5px;font-size: 20px;">{$oneDetail.user_name}</p>
        </div>
        <br/>
        <div class="layui-row">
            <div class="layui-col-md1 layui-col-md-offset5 layui-col-sm1 layui-col-sm-offset5"><span style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;粉丝&nbsp;&nbsp;<span class="layui-badge">{$oneDetail.id|fans}</span></span></div>
            <div class="layui-col-md1 layui-col-sm1"><span style="font-size: 15px;">&nbsp;&nbsp;微博&nbsp;&nbsp;<span class="layui-badge">{$oneDetail.id|passageCount}</span></span></div>
        </div>
        <br/>
        <div align="center"><span>性别：{$oneDetail.sex==0?'<i class="layui-icon layui-icon-male" style="font-size: 30px; color: blue;"></i>':'<i class="layui-icon layui-icon-female" style="font-size: 30px; color: pink;"></i>'}</span>
            <span>生日：{$oneDetail.birthday}</span>
        </div>
        <br/>
        <br/>
    <div style="float: right;margin-right: 20px;">
        <p>联系方式:</p>
        <p>电话：{$oneDetail.phone}</p>
        <p>Q&nbsp;Q&nbsp;&nbsp;:&nbsp;&nbsp;{$oneDetail.qq}</p>
        <p>Email:{$oneDetail.email}</p>
    </div>

        <div align="center" style="margin-left: 200px;"><button type="button"      id="attention{$oneDetail.id}"	class="layui-btn layui-btn-lg layui-btn-rad"  {if condition="hasAttention($oneDetail.id)"}onclick="noAttention('{$oneDetail.id}')"{else /}onclick="attention('{$oneDetail.id}')"{/if}>{if condition="hasAttention($oneDetail.id)"}取消关注{else /}点击关注{/if}</button></div>
        <br/>

    </div>
</div>
{foreach name="onePassages" item="vo"}
<div class="layui-row">
    <div class="layui-col-md8 layui-col-md-offset2" style="margin-top: 10px">
        <div class="layui-card" style="width: 900px;">
            <div class="layui-card-header">
                <div class="layui-row">
                    <div class="layui-col-md1"><img src="{$vo.user.avatar_url}" class="layui-nav-img" style="cursor: pointer;" onclick="redirectU('{$vo.user.id}')"></div>
                    <div class="layui-col-md1">{$vo.user.user_name}</div>
                    <div class="layui-col-md2">{$vo.create_time}</div>
                </div>
            </div>
            <div class="layui-card-body">
                {$vo.content}
                {if condition="$vo.type eq 2"}
                <br/>
                <p style="font-size: 15px;">//转自</p>&nbsp;&nbsp;{$vo.pid|getPcontent}
                {if condition="hasImagesS($vo.pid)"}
                <br/>
                <?php
                            $imagesS=hasImagesS($vo['pid']);
                            $p=explode(',',$imagesS);
                            $imagesB=hasImagesB($vo['pid']);
                            $q=explode(',',$imagesB);
                         ?>
                <div class="layui-row" style="margin-top: 10px;cursor: pointer" id="forwardPhotos{$vo.id+(int)(lcg_value()*100)}"  onclick="photos(this.getAttribute('id'))">
                    {foreach name="$p" item="vop"}
                    <image src="http://www.weibott.com{$vop}" class="layui-col-md-3" style="height: 200px;" layer-src="http://www.weibott.com{$q[$key]}"></image>
                    {/foreach}
                </div>
                {/if}
                <br/>
                <span style="float: right">------><a style="cursor: pointer" onclick="redirectU('{$vo.pid|getUid}')">{$vo.pid|getUname}</a></span>
                {/if}

                {if condition="$vo.imagesS"}
                <br/>
                <?php  $p=explode(',',$vo['imagesS']); ?>
                <?php  $q=explode(',',$vo['imagesB']); ?>
                <div class="layui-row" style="margin-top: 10px;cursor: pointer" id="photos{$vo.id+(int)(lcg_value()*100)}"  onclick="photos(this.getAttribute('id'))">
                    {foreach name="$p" item="vop"}
                    <image src="http://www.weibott.com{$vop}" class="layui-col-md-3" style="height: 200px;" layer-src="http://www.weibott.com{$q[$key]}"></image>
                    {/foreach}
                </div>
                {/if}
                <br/>
                <br/>
                <div class="layui-row">
                    <div class="layui-col-md1"><span style="cursor: pointer;"   {if condition="hasPraise($vo.id)"}onclick="noPraise('{$vo.id}','{$vo.user_id}')"{else /}onclick="praise('{$vo.id}','{$vo.user_id}')"{/if} id="praises{$vo.id}"><i class="layui-icon layui-icon-praise " style="font-size: 23px;{if condition='hasPraise($vo.id)'}color:red;{/if}"></i>&nbsp;<span id="praise{$vo.id}" class="layui-badge layui-bg-gray">{$vo.id|getPraiseCount}</span></div>
                    <div class="layui-col-md1"><span style="cursor: pointer;"  {if condition="hasTread($vo.id)"}onclick="noTread('{$vo.id}','{$vo.user_id}')"{else /}onclick="tread('{$vo.id}','{$vo.user_id}')"{/if} id="treads{$vo.id}"><i class="layui-icon layui-icon-tread " style="font-size: 23px;{if condition='hasTread($vo.id)'}color:red;{/if}"></i>&nbsp;<span id="tread{$vo.id}" class="layui-badge layui-bg-gray">{$vo.id|getTreadCount}</span></div>
                    <div class="layui-col-md1">
                        <div  style="cursor: pointer;" id="comment('{$vo.id}')" data-toggle="collapse" href="#collapseExample{$vo.id}" aria-expanded="false" aria-controls="collapseExample">
                            <span style="cursor: pointer;" ><i class="layui-icon layui-icon-dialogue" style="font-size: 23px;"></i>&nbsp;<span id="comment{$vo.id}" class="layui-badge layui-bg-gray">{$vo.id|getCommentsCount}</span></span>
                        </div>
                        <br/>
                        <div class="collapse" id="collapseExample{$vo.id}" style="width: 852px;margin-left: -136px;">
                            <div class="well">
                                <form class="layui-form" action="">
                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label"></label>
                                        <div class="layui-input-block" style="margin-left: -4px;">
                                            <textarea placeholder="请输入内容" class="layui-textarea" rows="3" id="sayComment{$vo.id}" ></textarea>
                                        </div>
                                    </div>
                                    <div class="layui-row">
                                        <div class="layui-col-md2">
                                            <div id="emotion{$vo.id}" onclick="emotion('{$vo.id}')" style="cursor: pointer;"><span style="font-size: 15px;"><i class="layui-icon layui-icon-face-smile-b" style="font-size: 20px;" ></i>&nbsp;添加表情</span></div>
                                        </div>
                                    </div>
                                    <button type="button" class="layui-btn layui-btn-radius layui-bg-blue " style="float: right;margin-top: -15px;" onclick="comment('{$vo.id}')" >评论</button>
                                </form>
                                <br/>
                                <hr>
                                <div id="more{$vo.id}" style="padding-bottom: 10px">
                                    {foreach name="$vo.id|passageComments" item="voc"}
                                    <div class="layui-row">
                                        <div class="layui-col-md1"><img src="{$vo.user.avatar_url}" class="layui-nav-img"></div>
                                        <div class="layui-col-md1">{$voc.user.user_name}</div>
                                        <div class="layui-col-md2">{$voc.create_time}&nbsp;&nbsp;<span style="font-size: 20px;">:</span></div>
                                    </div>
                                    <br/>
                                    <div>{$voc.content}</div>
                                    <br/>
                                    <br/>
                                    {/foreach}
                                    <div id="mores{$vo.id}">
                                        {if condition="passageCommentCount($vo.id) gt 3"}
                                        <div align="center"><a onclick="more('{$vo.id}','3')" style="cursor: pointer;">点击加载更多....</a></div>
                                        {else/}
                                        <p align="center">没有了,亲&nbsp;<i class="layui-icon layui-icon-face-cry" style="font-size: 30px;"></i> </p>
                                        {/if}
                                    </div>
                                    <span onclick="topComment('{$vo.id}')" id="topComment{$vo.id}" style="float: right;cursor: pointer;"><i class="layui-icon layui-icon-up" style="font-size: 30px; color: #1E9FFF;"></i> </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md1"><span style="cursor: pointer;" data-toggle="modal" data-target="#forward{$vo.id}"><i class="layui-icon layui-icon-release" style="font-size: 23px;"></i>&nbsp;<span id="forwardNum{$vo.id}" class="layui-badge layui-bg-gray">{$vo.id|getForwardsCount}</span></span></div>

                    <!-- 转发Modal -->
                    <div class="modal fade " id="forward{$vo.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="forwardName{$vo.id}">转发微博</h4>
                                </div>
                                <div class="modal-body">
                                    <p style="color:deepskyblue;">转发如下内容：</p>
                                    <div>
                                        <div class="layui-row">
                                            <div class="layui-col-md1"><img src="{$vo.user.avatar_url}" class="layui-nav-img"></div>
                                            <div class="layui-col-md1">{$vo.user.user_name}</div>
                                            <div class="layui-col-md2">{$vo.create_time}</div>
                                        </div>
                                        <div>{$vo.content}</div>
                                        {if condition="$vo.imagesS"}
                                        <br/>
                                        <?php  $p=explode(',',$vo['imagesS']); ?>
                                        <div class="layui-row" style="margin-top: 10px;">
                                            {foreach name="$p" item="vop"}
                                            <image src="{$vop}" class="layui-col-md-3" style="height: 50px;"></image>
                                            {/foreach}
                                        </div>
                                        {/if}
                                    </div>
                                    <hr>
                                    <form class="layui-form" action="">
                                        <div class="layui-form-item layui-form-text">
                                            <label class="layui-form-label"></label>
                                            <div class="layui-input-block" style="margin-left: -4px;">
                                                <textarea placeholder="请输入内容" class="layui-textarea" rows="3" id="sayForward{$vo.id}" ></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-row">
                                            <div class="layui-col-md2">
                                                <div id="forwardEmotion{$vo.id}" onclick="forwardEmotion('{$vo.id}')" style="cursor: pointer;"><span style="font-size: 15px;"><i class="layui-icon layui-icon-face-smile-b" style="font-size: 20px;" ></i>&nbsp;添加表情</span></div>
                                            </div>
                                        </div>
                                        <button type="button" class="layui-btn layui-btn-radius layui-bg-blue "  style="float: right;"  onclick="startForward('{$vo.id}')">转发</button>
                                        <br/>
                                        <br/>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{/foreach}

<div align="center">
    <div class="layui-row">
        <div class="layui-col-md4">
            {$onePassages->render()}
        </div>
        {if condition="count($onePassages) gt 0"}
        <div class="layui-col-md2">
            <h2>共{$page}页</h2>
        </div>
        {else/}
        <div class="layui-col-md5">
            <h2>共{$page}页,暂未发表或转发所任何帖</h2>
        </div>
        {/if}
    </div>
</div>

{include file="public/nav_model" /}
<script src="__STATIC__/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.qqFace.js"></script>


<script>

    layui.use('layer', function(){
        var layer = layui.layer;
    });

    function redirectU(id){
        window.location.href="http://www.weibott.com/visit/"+id;
    }

    function  logout(){

        $.post('http://www.weibott.com/logout',{},function(res){
            if(res.status){
                layer.msg(res.message, {icon: 1},function(){
                    window.location.href='http://www.weibott.com';
                });

            }else {
                layer.msg(res.message,{icon:2});
            }

        },'json');
    }

    function forwardEmotion(id){
        $('#forwardEmotion'+id).qqFace({
            id : 'facebox'+id, //表情盒子的ID
            assign:'sayForward'+id, //给那个控件赋值
            path:'/static/images/face/'	//表情存放的路径
        });
    }

    function more(id,page){
        $.get('passage/comment/more',{passage_id:id,page:page},function(res){
            if(res.status){
                //                layer.msg(res.message,{icon:2});
                $('#mores'+id).remove();
                $('#topComment'+id).remove();
                for(var i=0;i<res.message.length;i++){
                    $('#more'+id).append(' <div class="layui-row"><div class="layui-col-md1"><img src="'+res.message[i]["user"]["avatar_url"]+'" class="layui-nav-img"></div>'+
                            ' <div class="layui-col-md1">'+res.message[i]["user"]["user_name"]+'</div>'+
                            '<div class="layui-col-md2">'+res.message[i]["create_time"]+'&nbsp;&nbsp;<span style="font-size: 20px;">:</span></div></div>'+
                            '<br/><div>'+res.message[i]["content"]+'</div><br/><br/>');
                }

                if(res.message.length>3){
                    $('#more'+id).append('<div align="center"><a onclick="more('+id+',3)" style="cursor: pointer;">点击加载更多....</a></div>');
                    $('#more'+id).append('<span onclick="topComment('+id+')" id="topComment'+id+'" style="float: right;cursor: pointer;"><i class="layui-icon layui-icon-up" style="font-size: 30px; color: #1E9FFF;"></i> </span>')
                }else {
                    $('#more'+id).append('<p align="center">没有了,亲&nbsp;<i class="layui-icon layui-icon-face-cry" style="font-size: 30px;"></i></p>');
                    $('#more'+id).append('<span onclick="topComment('+id+')" id="topComment'+id+'" style="float: right;cursor: pointer;"><i class="layui-icon layui-icon-up" style="font-size: 30px; color: #1E9FFF;"></i> </span>')

                }
            }else{
                layer.msg(res.message,{icon:2});
                return false;
            }
        })
    }

    function comment(id){
        var content=$('#sayComment'+id).val();
        if(!content){
            layer.msg('请输入发送内容');
            return false;
        }
        content=content.replace(/\r\n/g,"<br/>");
        content=content.replace(/\n/g,"<br/>");
        content=content.replace(/\s/g,"&nbsp");
        $.post('passage/sendComment',{pid:id,content:content},function(res){
            if(res.status==1){
                layer.msg(res.message,{icon:1});
                $('#more'+id).prepend(' <div class="layui-row"> <div class="layui-col-md1"><img src="'+res.result["avatar_url"]+'" class="layui-nav-img"></div>'+
                        '<div class="layui-col-md1">'+res.result["user_name"]+'</div>'+
                        '<div class="layui-col-md2">'+res.result["create_time"]+'&nbsp;&nbsp;<span style="font-size: 20px;">:</span></div></div><br/>'+
                        ' <div>'+res.result["content"]+'</div><br/><br/>'

                );
            }else {
                layer.msg(res.message,{icon:2});
                return false;
            }
        })
    }

    function emotion(id){
        $('#emotion'+id).qqFace({
            id : 'facebox'+id, //表情盒子的ID
            assign:'sayComment'+id, //给那个控件赋值
            path:'/static/images/face/'	//表情存放的路径
        });
    }
    function topComment(id){
        $('#comment'+id).click();
    }

    function startForward(id){
        var content=$('#sayForward'+id).val();
        if(!content){
            layer.msg('请输入发送内容');
            return false;
        }
        content=content.replace(/\r\n/g,"<br/>");
        content=content.replace(/\n/g,"<br/>");
        content=content.replace(/\s/g,"&nbsp");
        $.post('passage/sendForward',{pid:id,content:content},function(res){
            if(res.status==1){
                layer.msg(res.message,{icon:1});
                parent.window.location.reload();
            }else {
                layer.msg(res.message,{icon:2});
                return false;
            }
        })
    }


    function praise(id,uid){
        var num=parseInt($('#praise'+id).text());
        $.post('passage/praise',{passage_id:id,p_user_id:uid},function(res){
            if(res.status==1){
                $('#praise'+id).text(num+1);
                $('#praises'+id).attr('onclick','noPraise('+id+','+uid+')');
                $('#praises'+id).find('i').attr('style','font-size: 23px;color: red;');
                layer.msg(res.message,{icon:1});
            }else{
                layer.msg(res.message,{icon:2});
                return false;
            }
        })
    }

    function noPraise(id,uid){
        var num=parseInt($('#praise'+id).text());
        $.ajax({
            type:'delete',
            url:'passage/noPraise',
            data:{passage_id:id},
            dataType:'json',
            success:function(res){
                if(res.status==1){
                    $('#praise'+id).text(num-1);
                    $('#praises'+id).attr('onclick','praise('+id+','+uid+')');
                    $('#praises'+id).find('i').attr('style','font-size: 23px;');
                    layer.msg(res.message,{icon:1});
                }else{
                    layer.msg(res.message,{icon:2});
                    return false;
                }
            }

        });

    }

    function tread(id,uid){
        var num=parseInt($('#tread'+id).text());
        $.post('passage/tread',{passage_id:id,p_user_id:uid},function(res){
            if(res.status==1){
                $('#tread'+id).text(num+1);
                $('#treads'+id).attr('onclick','notread('+id+','+uid+')');
                $('#treads'+id).find('i').attr('style','font-size: 23px;color: red;');
                layer.msg(res.message,{icon:1});
            }else{
                layer.msg(res.message,{icon:2});
                return false;
            }
        })
    }

    function noTread(id,uid){
        var num=parseInt($('#tread'+id).text());
        $.ajax({
            type:'delete',
            url:'passage/noTread',
            data:{passage_id:id},
            dataType:'json',
            success:function(res){
                if(res.status==1){
                    $('#tread'+id).text(num-1);
                    $('#treads'+id).attr('onclick','praise('+id+','+uid+')');
                    $('#treads'+id).find('i').attr('style','font-size: 23px;');
                    layer.msg(res.message,{icon:1});
                }else{
                    layer.msg(res.message,{icon:2});
                    return false;
                }
            }

        });

    }

    function personal(){
        $.get('http://www.weibott.com/personal',{},function(res){
            if(res.status==0){
                layer.msg(res.message,{icon:2});
                return false;
            }else {
                window.location.href='http://www.weibott.com/personal';
            }
        })
    }

    function message(){
        $.get('http://www.weibott.com/message',{},function(res){
            if(res.status==0){
                layer.msg(res.message,{icon:2});
                return false;
            }else {
                window.location.href='http://www.weibott.com/message';
            }
        })
    }

    function register(){
        $('#loginClose').click();
        setTimeout(function(){
            $('#register').click();
        },1200);


    }


    function attention(fid){
        var text=$('#attention'+fid).text();
        $.post('http://www.weibott.com/user/friend',{friend_id:fid},function(res){
            if(res.status==1){
                $('#attention'+fid).text('取消关注');
                $('#attention'+fid).attr('onclick','noAttention('+fid+')');
                layer.msg(res.message,{icon:1});
            }else{
                layer.msg(res.message,{icon:2});
                return false;
            }
        })
    }

    function noAttention(fid){
        $.ajax({
            type:'delete',
            url:'http://www.weibott.com/user/unFriend',
            data:{friend_id:fid},
            dataType:'json',
            success:function(res){
                if(res.status==1){
                    $('#attention'+fid).text('关注');
                    $('#attention'+fid).attr('onclick','attention('+fid+')');
                    layer.msg(res.message,{icon:1});
                }else{
                    layer.msg(res.message,{icon:2});
                    return false;
                }
            }

        });

    }

    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>


<script>
    layui.use('layer', function(){
        var layer = layui.layer;
    });

    function photos(id){
        layer.photos({
            photos:'#'+id
            ,shift:4
        })
    }
</script>

<script>
    setTimeout(function(){

    })
</script>

</body>
</html>