{extend name="public/base" /}
{block name='seo'}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
<script src="__STATIC__/js/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>

<script src="__STATIC__/layer/layer.js"></script>


<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
<script src="__STATIC__/js/bootstrap.min.js"></script>

<script src="__STATIC__/js/checked.js"></script>
<script src="__STATIC__/js/user.js"></script>
{/block}


{block name='content'}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        用户管理
        <span class="c-gray en">&gt;</span>
        用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">  <a   class="btn btn-danger radius" id="deleteAll"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>&nbsp;<a href="javascript:;" onclick="no_del()" class="btn btn-success radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a>
                <form class="layui-form" action="{:url('user/search')}" method="get" style="position: relative;left: 20%;top: 10px;">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日期：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="time"  autocomplete="off" class="layui-input" id="time" placeholder="点击选择注册日期">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="content"  autocomplete="off" class="layui-input" placeholder="输入部分姓名">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-inline">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">查找</button>
                            </div>
                        </div>
                    </div>
                </form>
                </span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="13">用户列表</th>
                </tr>

                <tr class="text-c">
                    <th><input type="checkbox" class="checkedAll" value=""></th>
                    <th>ID</th>
                    <th>注册时间</th>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>QQ</th>
                    <th>Email</th>
                    <th>出生日期</th>
                    <th>座右铭</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>

                </thead>
                <tbody>
                {if condition="count($user_list) gt 1"}
                {foreach name="user_list" item="ul"}
                <tr class="text-c">
                    <td><input type="checkbox" class="ids" value="{$ul.id}" name="ids[]"></td>
                    <td>{$ul.id}</td>
                    <td>{$ul.create_time}</td>
                    <td><img src="{$ul.avatar_url}" width="50" height="50" ></td>
                    <td>{$ul.user_name}</td>
                    <td>{if condition="$ul.sex eq 0"}男{elseif condition="$ul.sex eq 1"}{else /}外星人{/if}</td>
                    <td>{$ul.phone}</td>
                    <td>{$ul.qq}</td>
                    <td>{$ul.email}</td>
                    <td>{$ul.birthday}</td>
                    <td width="100">{$ul.motto}</td>
                    <td class="td-status">{if condition="$ul.status=='已启用'"}<span class="label label-success radius">{$ul.status}</span>
                        {else /}<span class="label radius">{$ul.status}</span>{/if}
                    </td>
                    <td class="td-manage">{if condition="$ul.status=='已启用'"}<a style="text-decoration:none" onClick="user_stop(this,'{$ul.id}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>{else /}<a onClick="user_start(this,'{$ul.id}')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>{/if}<a title="删除" href="javascript:;" onclick="user_del(this,'{$ul.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>&nbsp;&nbsp;<button class="btn btn-success"  onclick="next('{$ul.id}')">文章({$ul.id|getPassageCount})</button></td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </article>

        <div class="page" style="left: 20px;position: relative;">
            {$user_list->render()}
        </div>
        {else /}
            <tr class="text-c">
                <td><input type="checkbox" class="ids" value="{$user_list.id}" name="ids[]"></td>
                <td>{$user_list.id}</td>
                <td>{$user_list.create_time}</td>
                <td><img src="{$user_list.avatar_url}" width="50" height="50" ></td>
                <td>{$user_list.user_name}</td>
                <td>{if condition="$user_list.sex eq 0"}男{elseif condition="$user_list.sex eq 1"}{else /}外星人{/if}</td>
                <td>{$user_list.phone}</td>
                <td>{$user_list.qq}</td>
                <td>{$user_list.email}</td>
                <td>{$user_list.birthday}</td>
                <td width="100">{$user_list.motto}</td>
                <td class="td-status">{if condition="$user_list.status=='已启用'"}<span class="label label-success radius">{$user_list.status}</span>
                    {else /}<span class="label radius">{$ul.status}</span>{/if}
                </td>
                <td class="td-manage">{if condition="$user_list.status=='已启用'"}<a style="text-decoration:none" onClick="user_stop(this,'{$user_list.id}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>{else /}<a onClick="user_start(this,'{$user_list.id}')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>{/if}<a title="删除" href="javascript:;" onclick="user_del(this,'{$user_list.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>&nbsp;&nbsp;<button class="btn btn-success"  onclick="next('{$user_list.id}')">文章({$user_list.id|getPassageCount})</button></td>
            </tr>
            </tbody>
            </table>
            </article>
        {/if}
    </div>

</section>

{/block}


{block name="script"}
<script src="__STATIC__/js/user.js"></script>

<script type="text/javascript">
    /*
     参数解释：
     title	标题
     url		请求的url
     id		需要操作的数据id
     w		弹出层宽度（缺省调默认值）
     h		弹出层高度（缺省调默认值）
     */

    function no_del(){
        $.get("{:url('user/no_del')}");
        layer.msg("恢复成功",{icon:1});
        window.location.reload();
    }
    /*管理员-删除*/
    function user_del(obj,id){
        layer.confirm('确认要删除吗？',{icon:3},function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("{:url('user/user_del')}",{id:id});
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
   
    /*管理员-停用*/
    function user_stop(obj,id){
        layer.confirm('确认要停用吗？',{icon:3},function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("/admin/user/user_status",{id:id});
            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="user_start(this,'+id+')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已停用</span>');
            $(obj).remove();
            layer.msg('已停用!',{icon: 5,time:1000});
        });
    }

    /*管理员-启用*/
    function user_start(obj,id){
        layer.confirm('确认要启用吗？',{icon:3},function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("/admin/user/user_status",{id:id});
            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="user_stop(this,'+id+')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
            $(obj).remove();
            layer.msg('已启用!', {icon: 6,time:1000});
        });
    }
    function next(uid){
        $.get("/admin/passage/passageCountByOne",{uid:uid},function(res){
            if(res.status){
                window.location.href="/admin/passage/passage_list?uid="+uid;
            }else {
                layer.msg(res.message,{icon:5});
                return false;
            }
        },'json');

    }
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
                , laydate = layui.laydate;

        laydate.render({
            elem: '#time'
            ,range: '~' //或 range: '~' 来自定义分割字符
        });
    })

</script>
{/block}